Package: docker-compose
Version: version
Section: base
Priority: optional
Architecture: amd64
Maintainer: Ernestas Lukosevicius <ernetas@gmail.com>
Description: Docker Compose executable
Depends: docker-ce | docker-ee
